mixin pagination
  - var page = attributes.page
  - var count = attributes.count
  - var limit = attributes.limit
  - var max = Math.ceil(count / limit)

  if count > 0
    .text-center
      ul.pagination
        if page === 1
          li.disabled
            a &laquo;
        else
          li
            a(href='#', v-on:click='onClickPagePrevious') &laquo;

        if max <= 15
          - for (var i = 1; i <= max; i += 1)
            if page === i
              li.active
                a #{i}
            else
              li
                a(href='#', v-on:click='onClickPage($event, #{i})') #{i}
        else
          if page <= 8
            - for (var i = 1; i <= 13; i += 1)
              if page === i
                li.active
                  a #{i}
              else
                li
                  a(href='#', v-on:click='onClickPage($event, #{i})') #{i}
            li
              a &hellip;
            if page === max
              li.active
                a #{i}
            else
              li
                a(href='#', v-on:click='onClickPage($event, #{max})') #{max}
          else if page >= max - 7
            if page === 1
              li.active
                a 1
            else
              li
                a(href='#', v-on:click='onClickPage($event, 1)') 1
            li
              a &hellip;
            - for (var i = max - 12; i <= max; i += 1)
              if page === i
                li.active
                  a #{i}
              else
                li
                  a(href='#', v-on:click='onClickPage($event, #{i})') #{i}
          else
            if page === 1
              li.active
                a 1
            else
              li
                a(href='#', v-on:click='onClickPage($event, 1)') 1
            li
              a &hellip;
            - for (var i = page - 5; i <= page + 5; i += 1)
              if page === i
                li.active
                  a #{i}
              else
                li
                  a(href='#', v-on:click='onClickPage($event, #{i})') #{i}
            li
              a &hellip;
            if page === max
              li.active
                a #{i}
            else
              li
                a(href='#', v-on:click='onClickPage($event, #{max})') #{max}

        if page === max
          li.disabled
            a &raquo;
        else
          li
            a(href='#', v-on:click='onClickPageNext') &raquo;
